<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PessoaServlettt</servlet-name>
        <servlet-class>servlet.PessoaServlettt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PessoaServlettt</servlet-name>
        <url-pattern>/PessoaServlettt</url-pattern>
    </servlet-mapping>
    
    <!--<servlet>
        <servlet-name>PessoaServlet</servlet-name>
        <servlet-class>servlet.PessoaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PessoaServlet</servlet-name>
        <url-pattern>/PessoaServlet</url-pattern>
    </servlet-mapping>-->
    
    <error-page>
        <exception-type>java.lang.exception</exception-type>
        <location>/pessoa/Error.jsp</location>
    </error-page>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
