
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Leckerli One";
    src: url('../fonts/LeckerliOne-Regular.ttf');
}


@font-face {
    font-family: "Source Sans Pro";
    src: url('../fonts/SourceSansPro-Regular.ttf');
}

.nav-div{
    width: 80vw;
    height: 8vh;
    background-color: #c4c4c4;
    margin-left: 20vw;
}

body{
    overflow-x: hidden;
    font-family: "Source Sans Pro";
}

input[type="search"]{
    border: none;
    width: 20vw;
    height:4vh ;
    border-radius: 0.4vw;
    margin-top: 2vh;
    background-color:#f7f7f7;
    margin-left: 40vw;
    padding-left: 1vw;
}

.section-div{

    width: 20vw;
    height: 100vh;
    background-color:#38B6FF;
    position: absolute;
    top: 0;
}

.h1-nome-biblioteca{
    color: #fff;
    font-family: "Leckerli One";
    text-align: center;
    padding-top: 2vw;
}

.ul-div{
    width: 20vw;
    height: 70vh;
    font-size: 1.3vw;
}

.ul-div li{
    margin-bottom: 1.5vw;
    margin-left: 2vw; 
    list-style: none;
    padding-bottom: 1vw;
    width: 16vw;
    padding: 1vh;
    border-radius: 0.4vw;
    cursor:pointer;
}


.ul-div li:nth-child(1){
    margin-top: 5vh;
}


.ul-div li:nth-child(4){
    background-color:#fff;
    font-weight: bolder;
}

.ul-div li a {
    color: #222;
    padding: 0.2vw;
    text-decoration: none;
    
}

.ul-div li:hover{

    background-color: #fff;
}


.ul-div li a[href="#"]{
    
}

.btn-nova-pessoa{
    border: none;
    background-color: #38B6FF;
    padding: 0.5vw;
    width: 10vw;
    cursor: pointer;
    margin-left: 25vw;
    margin-top: 10vh;
}

.btn-nova-pessoa:hover{
    background-color: #0599ee;
    color: #fff;
    font-weight: bold;
}

.main-section{

    width: 70vw;
    height:35vh;
    background-color: #f1f1f1;
    margin-top: 8vh;
    margin-left: 25vw;
    padding: 5vh;
}
/*
.table-main{
    background-color: red;
    width: 100vw;
    height: 40vh;
    margin-left: 10vw;
}
*/

.h1-title-form{
   text-align: center;
   
   padding-bottom: 2vw;
}

form-cadastro{
   
}

.btn-cadastrar{
    border: none;
    background-color: #38B6FF;
    padding: 0.5vw;
    width: 10vw;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 8vh;
    margin-left: 1vw;
     border-radius: 0.2vw;
}

.btn-cadastrar:hover{
    background-color: #0599ee;
    color: #fff;
    font-weight: bold;

}

.btn-cancelar{
    border: none;
    border: 0.2vw solid red;
    padding: 0.5vw;
    width: 10vw;
    cursor: pointer;
    color:#000;
    font-size: 1rem;
    margin-left: 43vw;
    background-color: #fff;
    border-radius: 0.2vw;
    
}

.btn-cancelar:hover{
    font-weight: bold;
    background-color: red;
    color: #fff;
    
}

